[safe]
	directory = /storage/emulated/0/Documents/proyecto-github
	directory = /storage/emulated/0/Documents/proyecto-github
	directory = /storage/emulated/0/Documents/proyecto-github
	directory = /storage/emulated/0/Documents/proyecto-github
[user]
	email = j35u5m01535@gmail.com
	name = j35u5m01535
